{% extends 'mi_blog/base.html' %}

{% block contenido %}
<div>
    <pre>
        Mi nombre es Perez Olalla, Gonzalo Ezequiel, soy estudiante en comunicación social, y este blog es creado para el trabajo final del curso de Python.
        No estoy en busca de una salida laboral con el curso, pero tampoco es algo que no este pensando, si sale algo bienvenido sea.
        Aparte de realizar el curso, tambien soy estudiante de Comunicación Social en la Universidad de Quilmes (donde me faltan 2 materias para recibirme),
        y estoy recibidode Productor y Director de Radio y Televisión en el ISER.
    </pre>
</div>

{% endblock %}