{% extends 'mi_blog/base.html' %}

{% block contenido %}
{% if user.is_authenticated %}
        <ul>
            <a class="btn btn-primary" href="{% url 'mi_blog_crear' %}">Nuevo Post</a></h5>
            {% if user.avatar.imagen%}
            <a class="btn btn-primary" href="{% url 'mi_blog_avatar_actualizar' user.avatar.id %}">Cambiar Avatar</a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'mi_blog_user_actualizar' user.id %}">Actualizar Datos</a>
            <a class="btn btn-primary" href="{% url 'mi_blog_mensajes_listar' %}">Mensajes</a>
        </ul>
{% endif %}
<ul>
    <h2 style="font-weight: bold">Posteos Realizados</h2>
{% for post in object_list %}
    <li>{{post.fecha_publicacion}} - - {{post.titulo}}
        {% if user.is_superuser %}
            <a href="{% url 'mi_blog_borrar' post.id %}">Borrar</a>
            <a href="{% url 'mi_blog_actualizar' post.id %}">Actualizar</a>
        {% endif %}
        <a href="{% url 'mi_blog_detalle' post.id %}">Ver</a>
    </li>
{% endfor %}
</ul>
{% endblock %}